*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    color: grey;
    /* background-color: antiquewhite; */
}
.logo img{
    
}
.right ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
    
    
}
.right ul li{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.first{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 80px;
    gap: 40px;
}
.first span{
    font-size: 50px;
}
.first p{
    font-size: 23px;
    max-width: 70vw;
    text-align: center;
}
.first button{
    padding: 15px;
    background-color: rgb(23, 170, 207);
    color: white;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
}
main .first span{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
main .version{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    /* background-color: aqua; */
    margin-left: 10vw;
    gap: 20px;
}
main .second{
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    max-width: 70vw;
    margin: 10px auto;
}
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    margin: auto;
    gap: 10px;
} 
.card{
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 247, 247);
    text-align: center;
    padding: 30px 100px;
    gap: 30px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;

}
.download{
    padding: 10px 14px;
    background-color: rgb(71, 189, 86);
    color: white;
    border: 0px;
    border-radius: 5px;
    font-size: 10px;
    font-weight: 700;
    cursor: pointer;
}
main .second .card6{
    font-size: 15px;
}


@media screen and (max-width:1200px) {
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 
    .cards{
        grid-template-columns: 1fr ;
        gap: 10px;
    } 
    
}