*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    color: grey;
    /* background-color: antiquewhite; */
}
.logo img{
    
}
.right ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
    
    
}
.right ul li{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.first{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 80px;
    gap: 40px;
}
.first span{
    font-size: 50px;
}
.first p{
    font-size: 23px;
    max-width: 70vw;
    text-align: center;
}
.first button{
    padding: 15px;
    background-color: rgb(23, 170, 207);
    color: white;
    border: 0px;
    border-radius: 5px;
}
