*{
    margin: 0;
    padding: 0;
    /* grid-template-areas: "nav nav nav" */
}
nav{
    display: grid;
    justify-content: space-around;
    align-items: center;
    grid-template-columns: 5% 20% 65% 10%;
    border: 2px solid;
}
.logo{
    padding: 10px;
    /* grid-row: 2/3;   */
}
.logo img{
    height: 50px;
    grid-row: 2/3;  

}
.right ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    grid-row: 3/4;
}
span{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 0; */
    width: 20px;
}
::after{

}
